body {
  background: #0f172a;
  color: white;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 30px;
  text-align: center;
}

input,
textarea {
  width: 100%;
  margin-top: 15px;
  padding: 14px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: #6366f1;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #4f46e5;
}

.result-card {
  margin-top: 30px;
  padding: 20px;
  border-radius: 12px;
  font-size: 18px;
}

.result-card.real {
  background: rgba(16, 185, 129, 0.2);
  border: 2px solid #10b981;
}

.result-card.fake {
  background: rgba(239, 68, 68, 0.2);
  border: 2px solid #ef4444;
}
